@model NotifyHealth.Models.Clients
@if (Model.ClientMemberships != null)
{
    for (var i = 0; i < Model.ClientMemberships.Count(); i++)
    {

        <tr>
            @Html.HiddenFor(x => Model.ClientMemberships[i].ClientId)
            <td>
                @Html.DisplayFor(model => model.ClientMemberships[i].Campaign, new { @class = "col-sm-12 form-control-label" })
            </td>
            <td>
                @Html.TextBoxFor(model => model.ClientMemberships[i].Start, new { @class = "col-sm-12 form-control someclass" })
            </td>

        </tr>
    }
}