@model NotifyHealth.Models.Clients

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">

            <h4 class="modal-title">Edit</h4>
        </div>

        @using (Ajax.BeginForm("EditClients", "Home", Model, new AjaxOptions { HttpMethod = "Post", OnSuccess = "UpdateAssetSuccess", UpdateTargetId = "frmEdit" }, new { @class = "form-horizontal", role = "form" }))

        {

            <div class="modal-body" id="frmEdit">
                @Html.Partial("_ClientsModal")
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                <input type="submit" class="btn btn-success" name="Save" value="Save">
            </div>

        }
    </div>
</div>