@using Microsoft.AspNet.Identity
<!-- begin #header -->
<div id="header" class="header navbar navbar-default navbar-fixed-top">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        @*@if (Request.IsAuthenticated)
        {*@
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand"><img src="../Content/img/logo.png" class="logo" alt="" /> Notify Health</a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end mobile sidebar expand / collapse button -->
            <!-- begin navbar-right -->
            <ul class="nav navbar-nav navbar-right">
                @if (@Session["timestamp"] != null)
                {
       
                }
                <li class="dropdown navbar-user">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span style="color:black; padding-right:1px;">Last refreshed: @Session["timestamp"]</span>
                    </a>
                 
                </li>
                <li class="dropdown">
                    <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle has-notify" data-click="toggle-notify">
                        <i class="fa fa-bell"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-notification pull-right">
                        <li class="dropdown-header">Notifications (5)</li>
                        <li class="notification-item">
                            <a href="javascript:;">
                                <div class="media"><i class="fa fa-exclamation-triangle"></i></div>
                                <div class="message">
                                    <h6 class="title">Server Error Reports</h6>
                                    <div class="time">3 minutes ago</div>
                                </div>
                                <div class="option" data-toggle="tooltip" data-title="Mark as Read" data-click="set-message-status" data-status="unread" data-container="body">
                                    <i class="fa fa-circle"></i>
                                </div>
                            </a>
                        </li>
                        <li class="notification-item">
                            <a href="javascript:;">
                                <div class="media"><img src="../Content/img/user_1.jpg" alt="" /></div>
                                <div class="message">
                                    <h6 class="title">Solvia Smith</h6>
                                    <p class="desc">Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                    <div class="time">25 minutes ago</div>
                                </div>
                                <div class="option read" data-toggle="tooltip" data-title="Mark as Unread" data-click="set-message-status" data-status="read" data-container="body">
                                    <i class="fa fa-circle"></i>
                                </div>
                            </a>
                        </li>
                        <li class="notification-item">
                            <a href="javascript:;">
                                <div class="media"><img src="../Content/img/user_2.jpg" alt="" /></div>
                                <div class="message">
                                    <h6 class="title">Olivia</h6>
                                    <p class="desc">Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                    <div class="time">35 minutes ago</div>
                                </div>
                                <div class="option read" data-toggle="tooltip" data-title="Mark as Unread" data-click="set-message-status" data-status="read" data-container="body">
                                    <i class="fa fa-circle"></i>
                                </div>
                            </a>
                        </li>
                        <li class="notification-item">
                            <a href="javascript:;">
                                <div class="media"><i class="fa fa-user-plus media-object"></i></div>
                                <div class="message">
                                    <h6 class="title"> New User Registered</h6>
                                    <div class="time">1 hour ago</div>
                                </div>
                                <div class="option read" data-toggle="tooltip" data-title="Mark as Unread" data-click="set-message-status" data-status="read" data-container="body">
                                    <i class="fa fa-circle"></i>
                                </div>
                            </a>
                        </li>
                        <li class="notification-item">
                            <a href="javascript:;">
                                <div class="media bg-success"><i class="fa fa-credit-card"></i></div>
                                <div class="message">
                                    <h6 class="title"> New Item Sold</h6>
                                    <div class="time">2 hour ago</div>
                                </div>
                                <div class="option read" data-toggle="tooltip" data-title="Mark as Read" data-click="set-message-status" data-status="read" data-container="body">
                                    <i class="fa fa-circle"></i>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-footer text-center">
                            <a href="javascript:;">View more</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown navbar-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="image"><img src="../Content/img/user_profile.jpg" alt="" /></span>
                        <span class="hidden-xs">John Smith</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="@Url.Action("Settings", "Account")">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Logoff", "Account")">Log out</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end navbar-right -->
        @*}*@
        </div>
    <!-- end container-fluid -->
</div>