<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Selectable - Display as grid</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*<link rel="stylesheet" href="/resources/demos/style.css">*@

    <style>
        #feedback {
            font-size: 1.4em;
        }

        #selectable .ui-selecting {
            background: #17B6A4;
        }

        #selectable .ui-selected {
            background: #17B6A4;
            color: white;
        }

        #selectable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 240px;
        }

        .ui-state-grey {
            background: coral;
        }

        #selectable li {
            margin: 3px;
            padding: 1px;
            float: left;
            width: 25px;
            height: 20px;
            font-size: 0.75em;
            text-align: center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("button").click(function () {
                $("ol").append("<li class='ui-state-default'> 1</li ><li class='ui-state-default'>2</li><li class='ui-state-default'>3</li><li class='ui-state-default'>4</li><li class='ui-state-default'>5</li><li class='ui-state-default'>6</li><li class='ui-state-default'>7</li>");
            });
            $("#selectable").selectable({
                stop: function () {
                    var result = $("#select-result").empty();
                    $(".ui-selected", this).each(function () {
                        var index = $("#selectable li").index(this);
                        result.append(" " + (index + 1));
                    });
                }
            });
            //alert($(".ui-state-default").data().period);
            //$('.ui-state-default').each(function (i) {
            //    var color = $(this).data().period;
            //    //alert($(this).data().period);
            //    if (color == 1 || color == 6) {
            //        $(this).css('backgroundColor', 'coral');
            //        alert("div " + i + " is blue!\nColor detected: " + color);
            //    }

            //})

        });
    </script>
</head>
<button>Add new list item</button>
<p id="feedback">
    <span>You've selected:</span> <span id="select-result">none</span>.
</p>
<p id="feedback2">
</p>
<p id="demo"></p>

<ol id="selectable">
    <li class="ui-state-default" id="1" data-period="1" data-text="Please schedule your Urine Test.">1</li>
    <li class="ui-state-default" id="2" data-period="2">2</li>
    <li class="ui-state-default" id="3" data-period="3">3</li>
    <li class="ui-state-default" id="4" data-period="4">4</li>
    <li class="ui-state-default" id="5" data-period="5">5</li>
    <li class="ui-state-default" id="6" data-period="6">6</li>
    <li class="ui-state-default" id="7" data-period="7">7</li>

    <li class="ui-state-default" id="8" data-period="8">1</li>
    <li class="ui-state-default" id="9" data-period="9">2</li>
    <li class="ui-state-default" id="10" data-period="10">3</li>
    <li class="ui-state-default" id="11" data-period="11">4</li>
    <li class="ui-state-default" id="12" data-period="12">5</li>
    <li class="ui-state-default" id="13" data-period="13">6</li>
    <li class="ui-state-default" id="14" data-period="14">7</li>

    <li class="ui-state-default" id="15" data-period="15">1</li>
    <li class="ui-state-default" id="16" data-period="16">2</li>
    <li class="ui-state-default" id="17" data-period="17">3</li>
    <li class="ui-state-default" id="18" data-period="18">4</li>
    <li class="ui-state-default" id="19" data-period="19">5</li>
    <li class="ui-state-default" id="20" data-period="20">6</li>
    <li class="ui-state-default" id="21" data-period="21">7</li>

    <li class="ui-state-default" id="22" data-period="22">1</li>
    <li class="ui-state-default" id="23" data-period="23">2</li>
    <li class="ui-state-default" id="24" data-period="24">3</li>
    <li class="ui-state-default" id="25" data-period="25">4</li>
    <li class="ui-state-default" id="26" data-period="26">5</li>
    <li class="ui-state-default" id="27" data-period="27">6</li>
    <li class="ui-state-default" id="28" data-period="28">7</li>

    <li class="ui-state-default" id="29" data-period="29">1</li>
    <li class="ui-state-default" id="30" data-period="30">2</li>
    <li class="ui-state-default" id="31" data-period="31">3</li>
    <li class="ui-state-default" id="32" data-period="32">4</li>
    <li class="ui-state-default" id="33" data-period="33">5</li>
    <li class="ui-state-default" id="34" data-period="34">6</li>
    <li class="ui-state-default" id="35" data-period="35">7</li>

    <li class="ui-state-default" id="36" data-period="36">1</li>
    <li class="ui-state-default" id="37" data-period="37">2</li>
    <li class="ui-state-default" id="38" data-period="38">3</li>
    <li class="ui-state-default" id="39" data-period="39">4</li>
    <li class="ui-state-default" id="40" data-period="40">5</li>
    <li class="ui-state-default" id="41" data-period="41">6</li>
    <li class="ui-state-default" id="42" data-period="42">7</li>

    <li class="ui-state-default" id="43" data-period="43">1</li>
    <li class="ui-state-default" id="44" data-period="44">2</li>
    <li class="ui-state-default" id="45" data-period="45">3</li>
    <li class="ui-state-default" id="46" data-period="46">4</li>
    <li class="ui-state-default" id="47" data-period="47">5</li>
    <li class="ui-state-default" id="48" data-period="48">6</li>
    <li class="ui-state-default" id="49" data-period="49">7</li>

    <li class="ui-state-default" id="50" data-period="50">1</li>
    <li class="ui-state-default" id="51" data-period="51">2</li>
    <li class="ui-state-default" id="52" data-period="52">3</li>
    <li class="ui-state-default" id="53" data-period="53">4</li>
    <li class="ui-state-default" id="54" data-period="54">5</li>
    <li class="ui-state-default" id="55" data-period="55">6</li>
    <li class="ui-state-default" id="56" data-period="56">7</li>

    <li class="ui-state-default" id="57" data-period="57">1</li>
    <li class="ui-state-default" id="58" data-period="58">2</li>
    <li class="ui-state-default" id="59" data-period="59">3</li>
    <li class="ui-state-default" id="60" data-period="60">4</li>
    <li class="ui-state-default" id="61" data-period="61">5</li>
    <li class="ui-state-default" id="62" data-period="62">6</li>
    <li class="ui-state-default" id="63" data-period="63">7</li>

    <li class="ui-state-default" id="64" data-period="64">1</li>
    <li class="ui-state-default" id="65" data-period="65">2</li>
    <li class="ui-state-default" id="66" data-period="66">3</li>
    <li class="ui-state-default" id="67" data-period="67">4</li>
    <li class="ui-state-default" id="68" data-period="68">5</li>
    <li class="ui-state-default" id="69" data-period="69">6</li>
    <li class="ui-state-default" id="70" data-period="70">7</li>

    <li class="ui-state-default" id="71" data-period="71">1</li>
    <li class="ui-state-default" id="72" data-period="72">2</li>
    <li class="ui-state-default" id="73" data-period="73">3</li>
    <li class="ui-state-default" id="74" data-period="74">4</li>
    <li class="ui-state-default" id="75" data-period="75">5</li>
    <li class="ui-state-default" id="76" data-period="76">6</li>
    <li class="ui-state-default" id="77" data-period="77">7</li>

    <li class="ui-state-default" id="78" data-period="78">1</li>
    <li class="ui-state-default" id="79" data-period="79">2</li>
    <li class="ui-state-default" id="80" data-period="80">3</li>
    <li class="ui-state-default" id="81" data-period="81">4</li>
    <li class="ui-state-default" id="82" data-period="82">5</li>
    <li class="ui-state-default" id="83" data-period="83">6</li>
    <li class="ui-state-default" id="84" data-period="84">7</li>
    @*<li class="ui-state-default">1</li>
        <li class="ui-state-default">2</li>
        <li class="ui-state-default">3</li>
        <li class="ui-state-default">4</li>
        <li class="ui-state-default">5</li>
        <li class="ui-state-default">6</li>
        <li class="ui-state-default">7</li>

        <li class="ui-state-default">1</li>
        <li class="ui-state-default">2</li>
        <li class="ui-state-default">3</li>
        <li class="ui-state-default">4</li>
        <li class="ui-state-default">5</li>
        <li class="ui-state-default">6</li>
        <li class="ui-state-default">7</li>

        <li class="ui-state-default">1</li>
        <li class="ui-state-default">2</li>
        <li class="ui-state-default">3</li>
        <li class="ui-state-default">4</li>
        <li class="ui-state-default">5</li>
        <li class="ui-state-default">6</li>
        <li class="ui-state-default">7</li>

        <li class="ui-state-default">1</li>
        <li class="ui-state-default">2</li>
        <li class="ui-state-default">3</li>
        <li class="ui-state-default">4</li>
        <li class="ui-state-default">5</li>
        <li class="ui-state-default">6</li>
        <li class="ui-state-default">7</li>

        <li class="ui-state-default">1</li>
        <li class="ui-state-default">2</li>
        <li class="ui-state-default">3</li>
        <li class="ui-state-default">4</li>
        <li class="ui-state-default">5</li>
        <li class="ui-state-default">6</li>
        <li class="ui-state-default">7</li>

        <li class="ui-state-default">1</li>
        <li class="ui-state-default">2</li>
        <li class="ui-state-default">3</li>
        <li class="ui-state-default">4</li>
        <li class="ui-state-default">5</li>
        <li class="ui-state-default">6</li>
        <li class="ui-state-default">7</li>

        <li class="ui-state-default">1</li>
        <li class="ui-state-default">2</li>
        <li class="ui-state-default">3</li>
        <li class="ui-state-default">4</li>
        <li class="ui-state-default">5</li>
        <li class="ui-state-default">6</li>
        <li class="ui-state-default">7</li>

        <li class="ui-state-default">1</li>
        <li class="ui-state-default">2</li>
        <li class="ui-state-default">3</li>
        <li class="ui-state-default">4</li>
        <li class="ui-state-default">5</li>
        <li class="ui-state-default">6</li>
        <li class="ui-state-default">7</li>

        <li class="ui-state-default">1</li>
        <li class="ui-state-default">2</li>
        <li class="ui-state-default">3</li>
        <li class="ui-state-default">4</li>
        <li class="ui-state-default">5</li>
        <li class="ui-state-default">6</li>
        <li class="ui-state-default">7</li>

        <li class="ui-state-default">1</li>
        <li class="ui-state-default">2</li>
        <li class="ui-state-default">3</li>
        <li class="ui-state-default">4</li>
        <li class="ui-state-default">5</li>
        <li class="ui-state-default">6</li>
        <li class="ui-state-default">7</li>*@
</ol>



<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save Event</h4>
            </div>
            <div class="modal-body">
                <form class="col-md-12 form-horizontal">
                    <input type="hidden" id="hdEventID" value="0" />
                    @*<div class="form-group">
                            <label>Subject</label>
                            <input type="text" id="txtSubject" class="form-control" />
                        </div>*@
                    <div class="form-group">
                        <label>Start</label>
                        <div class="input-group date" id="dtp1">
                            <input type="text" id="txtStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>End</label>
                        <div class="input-group date" id="dtp1">
                            <input type="text" id="txtStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" id="chkIsFullDay" checked="checked" />  Is Full Day event</label>
                            </div>
                        </div>*@
                    <div class="form-group" id="divEndDate" style="display:none">
                        <label>End</label>
                        <div class="input-group date" id="dtp2">
                            <input type="text" id="txtEnd" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Text</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>
                    @*<div class="form-group">
                            <label>Theme Color</label>
                            <select id="ddThemeColor" class="form-control">
                                <option value="">Default</option>
                                <option value="red">Red</option>
                                <option value="blue">Blue</option>
                                <option value="black">Black</option>
                                <option value="green">Green</option>
                            </select>
                        </div>*@
                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        
        $(function () {
            $("#selectable").selectable({
                selecting: function (event, ui) {
                    if ($(".ui-selected, .ui-selecting").length > 1) {
                        $(ui.selecting).removeClass("ui-selecting");
                    }
                }
            });
        });

        var events = [];
        var selectedEvent = null;
        FetchEventAndRenderCalendar();
        function FetchEventAndRenderCalendar() {
            events = [];
            $.ajax({
                type: "GET",
                url: "/Home/GetNotifications123?CampaignID=@ViewBag.CampaignID",
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            NotificationId: v.NotificationId,
                            Text: v.Text,
                            start: moment(v.Start),
                            end: v.End != null ? moment(v.End) : null,
                            //color: v.ThemeColor,
                            Period: v.Period
                        });
                    })
                
                    var text = "";
                    for (x in events) {
                        text += events[x].Period + ",";
                    }
                   var textedited = text.slice(0, -1);
                    //text.slice(0, -1);
                    var numbersArray = textedited.split(',');

                    var dataArray = new Array();
                    for (x in numbersArray) {
                        $('.ui-state-default').each(function () {
                            var dataLayer = $(this).data('period');
                            if (numbersArray[x] == dataLayer) {
                                //check if data-layer already processed
                                //if (!dataArray.indexOf(dataLayer)) {
                                    ////update data array
                                    //dataArray.push(dataLayer);

                                    $('.ui-state-default[data-period="' + dataLayer + '"]').each(function () {

                                        $('.ui-state-default[id="' + dataLayer + '"]').css('backgroundColor', 'coral');

                                    });

                                //}
                            }
                        });
                    }
                    




                    var elements = document.querySelectorAll('.ui-state-default'),
                        array = Array.prototype.map.call(elements, function (el) {
                            return el.dataset.period;
                        });
                    alert('elements' + array);

                    var array123 = $('.ui-state-default').map(function () {
                        return this.dataset.period;
                    }).get();
                    alert('array123' + array123);
                    //var text = "";
                    //for (i = 0; i < $("#selectable li").length; i++) {
                    //    text += 1 + "<br>";
                    //}
                    document.getElementById("demo").innerHTML = textedited;
                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed23432' + error);
                }
            })
        }


        function GenerateCalender(events) {
            //var result = $.unique(events.Period)
            //alert("Output for integer: " + result)

            //$('.ui-state-default').each(function (i) {
            //    var periodtable = $(this).data().period;
            //    alert($(this).data().period);
            //    if ($("#selectable li").length == events[i].Period) {
            //        $(this).css('backgroundColor', 'coral');

            //    }

            //})
            //var text = "";
            //for (x in events) {
            //    text += "," + events[x].Period;
            //}
            ////var text = "";
            ////for (i = 0; i < $("#selectable li").length; i++) {
            ////    text += 1 + "<br>";
            ////}
            //document.getElementById("demo").innerHTML = text;
        }

        //$('#btnEdit').click(function () {
        //    //Open modal dialog for edit event
        //    openAddEditForm();
        //})
        //$('#btnDelete').click(function () {
        //    if (selectedEvent != null && confirm('Are you sure?')) {
        //        $.ajax({
        //            type: "POST",
        //            url: '/home/DeleteNotification',
        //            data: { 'NotificationId': selectedEvent.NotificationId },
        //            success: function (data) {
        //                if (data.status) {
        //                    //Refresh the calender
        //                    FetchEventAndRenderCalendar();
        //                    $('#myModal').modal('hide');
        //                }
        //            },
        //            error: function () {
        //                alert('Failed');
        //            }
        //        })
        //    }
        //})

        //$('#dtp1,#dtp2').datetimepicker({
        //    format: 'DD/MM/YYYY HH:mm A'
        //});

        ////$('#chkIsFullDay').change(function () {
        ////    if ($(this).is(':checked')) {
        ////        $('#divEndDate').hide();
        ////    }
        ////    else {
        ////        $('#divEndDate').show();
        ////    }
        ////});

        //function openAddEditForm() {
        //    if (selectedEvent != null) {
        //        $('#hdEventID').val(selectedEvent.eventID);
        //        $('#txtSubject').val(selectedEvent.title);
        //        $('#txtStart').val(selectedEvent.start.format('DD/MM/YYYY HH:mm A'));
        //        $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
        //        $('#chkIsFullDay').change();
        //        $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY HH:mm A') : '');
        //        $('#txtDescription').val(selectedEvent.description);
        //        $('#ddThemeColor').val(selectedEvent.color);
        //    }
        //    $('#myModal').modal('hide');
        //    $('#myModalSave').modal();
        //}

        //$('#btnSave').click(function () {
        //    //Validation/
        //    if ($('#txtSubject').val().trim() == "") {
        //        alert('Subject required');
        //        return;
        //    }
        //    if ($('#txtStart').val().trim() == "") {
        //        alert('Start date required');
        //        return;
        //    }
        //    if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
        //        alert('End date required');
        //        return;
        //    }
        //    else {
        //        var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A").toDate();
        //        var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm A").toDate();
        //        if (startDate > endDate) {
        //            alert('Invalid end date');
        //            return;
        //        }
        //    }

        //    var data = {
        //        EventID: $('#hdEventID').val(),
        //        Subject: $('#txtSubject').val().trim(),
        //        Start: $('#txtStart').val().trim(),
        //        End: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
        //        Description: $('#txtDescription').val(),
        //        ThemeColor: $('#ddThemeColor').val(),
        //        IsFullDay: $('#chkIsFullDay').is(':checked')
        //    }
        //    SaveEvent(data);
        //    // call function for submit data to the server
        //})

        //function SaveEvent(data) {
        //    $.ajax({
        //        type: "POST",
        //        url: '/Home/SaveNotification',
        //        data: data,
        //        success: function (data) {
        //            if (data.status) {
        //                //Refresh the calender
        //                FetchEventAndRenderCalendar();
        //                $('#myModalSave').modal('hide');
        //            }
        //        },
        //        error: function () {
        //            alert('Failed');
        //        }
        //    })
        //}
    })
</script>
