<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Selectable - Display as grid</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
        #feedback {
            font-size: 1.4em;
        }

        #selectable .ui-selecting {
            background: #17B6A4;
        }

        #selectable .ui-selected {
            background: #17B6A4;
            color: white;
        }

        #selectable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 240px;
        }

        .ui-state-grey {
            background: coral;
        }

        #selectable li {
            margin: 3px;
            padding: 1px;
            float: left;
            width: 25px;
            height: 20px;
            font-size: 0.75em;
            text-align: center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Content/plugins/bootstrap/bootstrap-4.1.1/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("#button").click(function () {
                $("ol").append($("#template").html());
                $('#button').attr("disabled", true);
            });
            $("#selectable").selectable({
                stop: function () {
                    $('#myModal').modal('toggle');
                    $('#selectable .ui-state-default.ui-selected').each(function (index) {
                        if (typeof $(this).data('period') !== 'undefined') {

                            $('#myModal #title').text("Add Notification");
                            $('#myModal #eventperiod').text(this.id);
                            $('#myModal #txtnotificationid').text("");
                            $('#myModal #txtText').text("");
                            $('#myModal #title').text("Add Notification");
                            $("#btnDelete").css("visibility", "hidden")
                        }
                        if (typeof $(this).data('text') !== 'undefined') {
                            $('#myModal #title').text("Edit Notification");
                            $('#myModal #eventperiod').text($(this).data('period'));
                            $('#myModal #txtnotificationid').text($(this).data('notificationid'));
                            $('#myModal #txtText').text($(this).data('text'));
                            $("#btnDelete").css("visibility", "visible")
                        }
                    });

                }
            });
        });
    </script>
</head>
<button id="button">Add new list item</button>

<ol id="selectable" data-toggle="modal" href="#myModal">
    <li class="ui-state-default" id="1" data-period="1" data-text="Please schedule your Urine Test." data-notificationid="Please schedule your Urine Test.">1</li>
    <li class="ui-state-default" id="2" data-period="2">2</li>
    <li class="ui-state-default" id="3" data-period="3">3</li>
    <li class="ui-state-default" id="4" data-period="4">4</li>
    <li class="ui-state-default" id="5" data-period="5">5</li>
    <li class="ui-state-default" id="6" data-period="6">6</li>
    <li class="ui-state-default" id="7" data-period="7">7</li>

    <li class="ui-state-default" id="8" data-period="8">1</li>
    <li class="ui-state-default" id="9" data-period="9">2</li>
    <li class="ui-state-default" id="10" data-period="10">3</li>
    <li class="ui-state-default" id="11" data-period="11">4</li>
    <li class="ui-state-default" id="12" data-period="12">5</li>
    <li class="ui-state-default" id="13" data-period="13">6</li>
    <li class="ui-state-default" id="14" data-period="14">7</li>

    <li class="ui-state-default" id="15" data-period="15">1</li>
    <li class="ui-state-default" id="16" data-period="16">2</li>
    <li class="ui-state-default" id="17" data-period="17">3</li>
    <li class="ui-state-default" id="18" data-period="18">4</li>
    <li class="ui-state-default" id="19" data-period="19">5</li>
    <li class="ui-state-default" id="20" data-period="20">6</li>
    <li class="ui-state-default" id="21" data-period="21">7</li>

    <li class="ui-state-default" id="22" data-period="22">1</li>
    <li class="ui-state-default" id="23" data-period="23">2</li>
    <li class="ui-state-default" id="24" data-period="24">3</li>
    <li class="ui-state-default" id="25" data-period="25">4</li>
    <li class="ui-state-default" id="26" data-period="26">5</li>
    <li class="ui-state-default" id="27" data-period="27">6</li>
    <li class="ui-state-default" id="28" data-period="28">7</li>

    <li class="ui-state-default" id="29" data-period="29">1</li>
    <li class="ui-state-default" id="30" data-period="30">2</li>
    <li class="ui-state-default" id="31" data-period="31">3</li>
    <li class="ui-state-default" id="32" data-period="32">4</li>
    <li class="ui-state-default" id="33" data-period="33">5</li>
    <li class="ui-state-default" id="34" data-period="34">6</li>
    <li class="ui-state-default" id="35" data-period="35">7</li>

    <li class="ui-state-default" id="36" data-period="36">1</li>
    <li class="ui-state-default" id="37" data-period="37">2</li>
    <li class="ui-state-default" id="38" data-period="38">3</li>
    <li class="ui-state-default" id="39" data-period="39">4</li>
    <li class="ui-state-default" id="40" data-period="40">5</li>
    <li class="ui-state-default" id="41" data-period="41">6</li>
    <li class="ui-state-default" id="42" data-period="42">7</li>

    <li class="ui-state-default" id="43" data-period="43">1</li>
    <li class="ui-state-default" id="44" data-period="44">2</li>
    <li class="ui-state-default" id="45" data-period="45">3</li>
    <li class="ui-state-default" id="46" data-period="46">4</li>
    <li class="ui-state-default" id="47" data-period="47">5</li>
    <li class="ui-state-default" id="48" data-period="48">6</li>
    <li class="ui-state-default" id="49" data-period="49">7</li>

    <li class="ui-state-default" id="50" data-period="50">1</li>
    <li class="ui-state-default" id="51" data-period="51">2</li>
    <li class="ui-state-default" id="52" data-period="52">3</li>
    <li class="ui-state-default" id="53" data-period="53">4</li>
    <li class="ui-state-default" id="54" data-period="54">5</li>
    <li class="ui-state-default" id="55" data-period="55">6</li>
    <li class="ui-state-default" id="56" data-period="56">7</li>

    <li class="ui-state-default" id="57" data-period="57">1</li>
    <li class="ui-state-default" id="58" data-period="58">2</li>
    <li class="ui-state-default" id="59" data-period="59">3</li>
    <li class="ui-state-default" id="60" data-period="60">4</li>
    <li class="ui-state-default" id="61" data-period="61">5</li>
    <li class="ui-state-default" id="62" data-period="62">6</li>
    <li class="ui-state-default" id="63" data-period="63">7</li>

    <li class="ui-state-default" id="64" data-period="64">1</li>
    <li class="ui-state-default" id="65" data-period="65">2</li>
    <li class="ui-state-default" id="66" data-period="66">3</li>
    <li class="ui-state-default" id="67" data-period="67">4</li>
    <li class="ui-state-default" id="68" data-period="68">5</li>
    <li class="ui-state-default" id="69" data-period="69">6</li>
    <li class="ui-state-default" id="70" data-period="70">7</li>

    <li class="ui-state-default" id="71" data-period="71">1</li>
    <li class="ui-state-default" id="72" data-period="72">2</li>
    <li class="ui-state-default" id="73" data-period="73">3</li>
    <li class="ui-state-default" id="74" data-period="74">4</li>
    <li class="ui-state-default" id="75" data-period="75">5</li>
    <li class="ui-state-default" id="76" data-period="76">6</li>
    <li class="ui-state-default" id="77" data-period="77">7</li>

    <li class="ui-state-default" id="78" data-period="78">1</li>
    <li class="ui-state-default" id="79" data-period="79">2</li>
    <li class="ui-state-default" id="80" data-period="80">3</li>
    <li class="ui-state-default" id="81" data-period="81">4</li>
    <li class="ui-state-default" id="82" data-period="82">5</li>
    <li class="ui-state-default" id="83" data-period="83">6</li>
    <li class="ui-state-default" id="84" data-period="84">7</li>
</ol>
<div class="hide" id="template">
    <li class="ui-state-default" id="85" data-period="85">1</li>
    <li class="ui-state-default" id="86" data-period="86">2</li>
    <li class="ui-state-default" id="87" data-period="87">3</li>
    <li class="ui-state-default" id="88" data-period="88">4</li>
    <li class="ui-state-default" id="89" data-period="89">5</li>
    <li class="ui-state-default" id="90" data-period="90">6</li>
    <li class="ui-state-default" id="91" data-period="91">7</li>

    <li class="ui-state-default" id="92" data-period="92">1</li>
    <li class="ui-state-default" id="93" data-period="93">2</li>
    <li class="ui-state-default" id="94" data-period="94">3</li>
    <li class="ui-state-default" id="95" data-period="95">4</li>
    <li class="ui-state-default" id="96" data-period="96">5</li>
    <li class="ui-state-default" id="97" data-period="97">6</li>
    <li class="ui-state-default" id="98" data-period="98">7</li>

    <li class="ui-state-default" id="99" data-period="99">1</li>
    <li class="ui-state-default" id="100" data-period="100">2</li>
    <li class="ui-state-default" id="101" data-period="101">3</li>
    <li class="ui-state-default" id="102" data-period="102">4</li>
    <li class="ui-state-default" id="103" data-period="103">5</li>
    <li class="ui-state-default" id="104" data-period="104">6</li>
    <li class="ui-state-default" id="105" data-period="105">7</li>

    <li class="ui-state-default" id="106" data-period="106">1</li>
    <li class="ui-state-default" id="107" data-period="107">2</li>
    <li class="ui-state-default" id="108" data-period="108">3</li>
    <li class="ui-state-default" id="109" data-period="109">4</li>
    <li class="ui-state-default" id="110" data-period="110">5</li>
    <li class="ui-state-default" id="111" data-period="111">6</li>
    <li class="ui-state-default" id="112" data-period="112">7</li>

    <li class="ui-state-default" id="113" data-period="113">1</li>
    <li class="ui-state-default" id="114" data-period="114">2</li>
    <li class="ui-state-default" id="115" data-period="115">3</li>
    <li class="ui-state-default" id="116" data-period="116">4</li>
    <li class="ui-state-default" id="117" data-period="117">5</li>
    <li class="ui-state-default" id="118" data-period="118">6</li>
    <li class="ui-state-default" id="119" data-period="119">7</li>

    <li class="ui-state-default" id="120" data-period="120">1</li>
    <li class="ui-state-default" id="121" data-period="121">2</li>
    <li class="ui-state-default" id="122" data-period="122">3</li>
    <li class="ui-state-default" id="123" data-period="123">4</li>
    <li class="ui-state-default" id="124" data-period="124">5</li>
    <li class="ui-state-default" id="125" data-period="125">6</li>
    <li class="ui-state-default" id="126" data-period="126">7</li>

    <li class="ui-state-default" id="127" data-period="127">1</li>
    <li class="ui-state-default" id="128" data-period="128">2</li>
    <li class="ui-state-default" id="129" data-period="129">3</li>
    <li class="ui-state-default" id="130" data-period="130">4</li>
    <li class="ui-state-default" id="131" data-period="131">5</li>
    <li class="ui-state-default" id="132" data-period="132">6</li>
    <li class="ui-state-default" id="133" data-period="133">7</li>

    <li class="ui-state-default" id="134" data-period="134">1</li>
    <li class="ui-state-default" id="135" data-period="135">2</li>
    <li class="ui-state-default" id="136" data-period="136">3</li>
    <li class="ui-state-default" id="137" data-period="137">4</li>
    <li class="ui-state-default" id="138" data-period="138">5</li>
    <li class="ui-state-default" id="139" data-period="139">6</li>
    <li class="ui-state-default" id="140" data-period="140">7</li>

    <li class="ui-state-default" id="141" data-period="141">1</li>
    <li class="ui-state-default" id="142" data-period="142">2</li>
    <li class="ui-state-default" id="143" data-period="143">3</li>
    <li class="ui-state-default" id="144" data-period="144">4</li>
    <li class="ui-state-default" id="145" data-period="145">5</li>
    <li class="ui-state-default" id="146" data-period="146">6</li>
    <li class="ui-state-default" id="147" data-period="147">7</li>

    <li class="ui-state-default" id="148" data-period="148">1</li>
    <li class="ui-state-default" id="149" data-period="149">2</li>
    <li class="ui-state-default" id="150" data-period="150">3</li>
    <li class="ui-state-default" id="151" data-period="151">4</li>
    <li class="ui-state-default" id="152" data-period="152">5</li>
    <li class="ui-state-default" id="153" data-period="153">6</li>
    <li class="ui-state-default" id="154" data-period="154">7</li>

    <li class="ui-state-default" id="155" data-period="155">1</li>
    <li class="ui-state-default" id="156" data-period="156">2</li>
    <li class="ui-state-default" id="157" data-period="157">3</li>
    <li class="ui-state-default" id="158" data-period="158">4</li>
    <li class="ui-state-default" id="159" data-period="159">5</li>
    <li class="ui-state-default" id="160" data-period="160">6</li>
    <li class="ui-state-default" id="161" data-period="161">7</li>

    <li class="ui-state-default" id="162" data-period="162">1</li>
    <li class="ui-state-default" id="163" data-period="163">2</li>
    <li class="ui-state-default" id="164" data-period="164">3</li>
    <li class="ui-state-default" id="165" data-period="165">4</li>
    <li class="ui-state-default" id="166" data-period="166">5</li>
    <li class="ui-state-default" id="167" data-period="167">6</li>
    <li class="ui-state-default" id="168" data-period="168">7</li>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="title"></span></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtnotificationid">
                <div class="form-group">

                    <label>Period</label>
                    <text id="eventperiod" class="form-control disabled"></text>
                </div>
                <div class="form-group">

                    <label>Text</label>
                    <textarea id="txtText" rows="3" class="form-control"></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button id="btnDelete" class="btn btn-danger btn-sm left">
                    <i class="fa fa-minus" aria-hidden="true"></i> Remove
                </button>
                <button type="button" id="btnSave" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        $('#selectable').click(function (calEvent) {
            $('#myModal').modal('toggle');
            if (typeof $(this).data('text') !== 'undefined') {

                //$('#myModal #eventTitle').text(calEvent.text);
                $('#myModal #txtnotificationid').val(calEvent.notificationid);
                $('#myModal #txtText').val(calEvent.text);
            }
    });
        $(function () {
            $("#selectable").selectable({
                selecting: function (event, ui) {
                    if ($(".ui-selected, .ui-selecting").length > 1) {
                        $(ui.selecting).removeClass("ui-selecting");
                    }
                }
            });
        });

        var events = [];
        var selectedEvent = null;
        FetchEventAndRenderCalendar();
        function FetchEventAndRenderCalendar() {
            events = [];
            $.ajax({
                type: "GET",
                url: "/Home/GetNotifications123?CampaignID=@ViewBag.CampaignID",
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            NotificationId: v.NotificationId,
                            Text: v.Text,
                            start: moment(v.Start),
                            end: v.End != null ? moment(v.End) : null,
                            Period: v.Period
                        });
                    })

                    var text = "";
                    for (x in events) {
                        text += events[x].Period + ",";
                    }
                   var textedited = text.slice(0, -1);
                    //text.slice(0, -1);
                    var numbersArray = textedited.split(',');

                    var dataArray = new Array();
                    for (x in numbersArray) {
                        $('.ui-state-default').each(function () {
                            var dataLayer = $(this).data('period');
                            if (numbersArray[x] == dataLayer) {
                                //check if data-layer already processed
                                //if (!dataArray.indexOf(dataLayer)) {
                                    ////update data array
                                    //dataArray.push(dataLayer);

                                    $('.ui-state-default[data-period="' + dataLayer + '"]').each(function () {

                                        $('.ui-state-default[id="' + dataLayer + '"]').css('backgroundColor', 'coral');
                                        $('.ui-state-default[id="' + dataLayer + '"]').attr('data-text', events[x].Text);
                                        $('.ui-state-default[id="' + dataLayer + '"]').attr('data-notificationid', events[x].NotificationId);
                                    });

                                //}
                            }
                        });
                    }

                    var array123 = $('.ui-state-default').map(function () {
                        return this.dataset.period;
                    }).get();


                },
                error: function (error) {
                    alert('failed' + error);
                }
            })
        }
        $('#btnDelete').click(function () {
            var NotificationId = $('#txtnotificationid').text();
                $.ajax({
                    type: "POST",
                    url: '/home/DeleteNotification',
                    data: { 'Notificationid': NotificationId },
                    success: function (data) {
                        if (data.status) {
                            //Refresh the calender
                            FetchEventAndRenderCalendar();

                            $('#myModal').modal('hide');
                            location.reload();
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })

        })

        $('#btnSave').click(function () {
            //Validation/
            var CampaignID = parseInt(@ViewBag.CampaignID);
            if ($('#txtText').val().trim() == "") {
                alert('Text required');
                return;
            }
            var data = {
                NotificationId: $('#txtnotificationid').val(),
                Text: $('#txtText').val().trim(),
                Period: $('#eventperiod').text(),
                CampaignID: CampaignID,
                StatusId: 1,
                NTypeId:8
            }
            SaveEvent(data);
            // call function for submit data to the server
        })

        function SaveEvent(data) {
            $.ajax({
                type: "POST",
                url: '/Home/SaveNotification',
                data: data,
                success: function (data) {
                    if (data.status) {
                        //Refresh the calender
                        FetchEventAndRenderCalendar();
                        $('#myModalSave').modal('hide');
                        location.reload();
                    }
                },
                error: function () {
                    alert('Failed');
                }
            })
        }
    })
</script>
